<h3>Pokemones</h3>
<div *ngIf="pokemonsTotal.length">
  <ng-autocomplete
    [data]="pokemonsTotal"
    [searchKeyword]="keyword"
    [itemTemplate]="itemTemplate"
    [notFoundTemplate]="notFoundTemplate"
    placeholder="Buscar..."
  >
  </ng-autocomplete>

  <ng-template #itemTemplate let-item>
    <a [innerHTML]="item.name"></a>
  </ng-template>

  <ng-template #notFoundTemplate let-notFound>
    <div>No existe el pokemon que buscas :(</div>
  </ng-template>
</div>

<ul class="cards">
  <li
    *ngFor="
      let poke of pokemons
        | paginate
          : { itemsPerPage: 10, currentPage: page, totalItems: totalPokemons }
    "
    class="card"
  >
    <img [src]="poke.sprites.front_default" alt="Pokemon" class="pokemon" />
    {{ poke.name }} - {{ poke.types[0].type.name }}
  </li>
</ul>

<pagination-controls
  (pageChange)="page = $event; pokemons = []; getPokemons()"
></pagination-controls>
