.cards {
  display: flex;
  flex-wrap: wrap;
}

.card {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.detalles {
  border: 1px solid red;
  width: 40%;
  min-width: 200px;
}

.contenedor-home {
  display: flex;
}
