.contenedor-home {
  padding-block: 3rem;
}

/* BUSCADOR */

.ng-autocomplete {
  min-width: 300px;
  width: 55%;
  margin-inline: auto;
}

/* FIN BUSCADOR */

/* PAGINADO */

.paginado {
  width: fit-content;
  margin-inline: auto;
  background-color: #f5f5f5;
  border-radius: 20px;
  text-align: center;
  padding-right: 2.5rem;
  margin-bottom: 2rem;
}

/* FIN PAGINADO */

/* DETALLES */

.detalles-card {
  background-color: #f5f5f5;
  min-width: 250px;
  text-transform: capitalize;
  padding: 1rem 2rem;
  height: fit-content;
  margin-top: 50px;
  border-radius: 20px;
  position: relative;
  -webkit-box-shadow: 0 3px #ccc;
  -moz-box-shadow: 0 3px #ccc;
  box-shadow: 0 3px #ccc;
  margin-inline: auto;
}

.detalles-info {
  display: flex;
  flex-direction: column;
}

.img-pokemon {
  min-height: 200px;
  max-width: 200px;
  align-self: center;
  margin-bottom: 1rem;
}

.detalles-item {
  background-color: #fff;
  margin-bottom: 0.5rem;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  font-weight: 600;
  font-size: 15px;
  color: #66625c;
  display: flex;
  gap: 0.5rem;
  border: 1px solid #e8e8e8;
}

.detalles-item-stat {
  font-weight: 400;
  font-size: 15px;
}

.boton-cerrar-detalles {
  border-width: 0;
  color: #444;
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  left: 10px;
  top: 10px;
}

.boton-cerrar-detalles:hover {
  color: #ea4335;
}

.form-cambiar-nombre {
  margin-top: 1rem;
  background-color: rgba(255, 255, 255, 0.677);
  padding: 0.5rem 1rem;
  border-radius: 20px;
  text-transform: none;
}

.form-cambiar-nombre-title {
  font-weight: 700;
  font-size: 15px;
  color: #66625c;
  margin-bottom: 0.5rem;
}

.form-input {
  padding: 9px 10px;
  border-radius: 8px;
  border-width: 0;
  border: 1px solid #e8e8e8;
}

.form-input:focus {
  outline: none;
}

.button-cambiar-nombre {
  background-color: #444;
  border-radius: 8px;
  border-width: 0;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  font-weight: 600;
  line-height: 20px;
  list-style: none;
  margin: 0;
  margin-left: 1rem;
  padding: 5px 10px;
  text-align: center;
  transition: all 200ms;
  vertical-align: baseline;
  white-space: nowrap;
}

.button-cambiar-nombre:hover {
  background-color: #2199e8;
}

/* FIN DETALLES */

.contenedor-tabla-detalles {
  display: flex;
  flex-wrap: wrap;
  padding-inline: 2rem;
  justify-content: center;
}

/* ABECEDARIO */

.abecedario {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 60%;
  margin-inline: auto;
  margin-top: 1rem;
}

.title-abecedario {
  margin-inline: auto;
  text-align: center;
  font-weight: 700;
  font-size: 15px;
  color: #66625c;
  margin-bottom: 0.5rem;
}

.abecedario-caja {
  background-color: #f5f5f5;
  padding: 0.5rem 1rem;
  border-right: 1px solid #e8e8e8;
}

.abecedario-letra {
  text-align: center;
  text-transform: capitalize;
  font-weight: 600;
  color: #2199e8;
}

/* FIN ABECEDARIO */

/* TABLA */

table {
  background: #f5f5f5;
  font-size: 13px;
  line-height: 24px;
  margin: 1rem auto;
  margin-top: 3rem;
  text-align: left;
  min-width: 60%;
  text-transform: capitalize;
  border-spacing: 0;
}

.button-get-detail {
  background-color: #444;
  border-radius: 8px;
  border-width: 0;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  font-weight: 600;
  line-height: 20px;
  list-style: none;
  margin: 0;
  padding: 10px 12px;
  text-align: center;
  transition: all 200ms;
  vertical-align: baseline;
  /* white-space: nowrap; */
}

.button-get-detail:hover {
  background-color: #2199e8;
}

.border-izq {
  border-radius: 20px 0px 0px 0px;
}

.border-der {
  border-radius: 0px 20px 0px 0px;
}

.table-bordered {
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  -webkit-box-shadow: 0 3px #ccc;
  -moz-box-shadow: 0 3px #ccc;
  box-shadow: 0 3px #ccc;
}

th {
  background-color: #444;
  color: #fff;
  font-weight: bold;
  padding: 10px 15px;
  position: relative;
  text-shadow: 0 1px 0 #000;
  text-align: center;
  border-right: 1px solid #000;
}

td {
  border-bottom: 1px solid #e8e8e8;
  border-right: 1px solid #e8e8e8;
  padding-inline: 1rem;
  position: relative;
  transition: all 300ms;
  text-align: center;
}

td:last-child {
  border: none;
}

tr:nth-child(odd) td {
  background: #f1f1f1;
}

/* FIN TABLA */
